$nav-width: 60px;
$nav-height: 100%;
$nav-item-margin-top: 17px;

// Open
$nav-open-width: 217px;

// Nav toggle
$nav-toggle-margin-b: 12px;

// Nav search_icon
$nav-search-padding-t: 12px;
$nav-search-padding-r: 0;
$nav-search-padding-b: 10px;
$nav-search-padding-l: 0;

// Nav faq_icon
$nav-faq-padding-t: 10px;
$nav-faq-padding-r: 0;
$nav-faq-padding-b: 15px;
$nav-faq-padding-l: 0;

nav {
  width: $nav-width;
  height: $nav-height;
  transition: 1s;
  &.nav-open {
    width: $nav-open-width;
    // @apply pin-l pin-t z-10 justify-start;
  }
  .nav-toggle {
    width: 60px;
    height: 52px;
    margin-bottom: $nav-toggle-margin-b;
    @apply bg-black-darker;
  }
  .nav-search {
    padding: $nav-search-padding-t $nav-search-padding-r $nav-search-padding-b
      $nav-search-padding-l;
  }
  .nav-faq {
    padding: $nav-faq-padding-t $nav-faq-padding-r $nav-faq-padding-b
      $nav-faq-padding-l;
  }
  .nav-items {
    .nav-item {
      margin: $nav-item-margin-top 0 0 0;
      svg {
        transition: 0.5s all;
      }
    }
  }
  .nav-logo {
    margin-bottom: 21px;
  }
}