@font-face {
  font-family: 'Choplin';
  src: url('~assets/fonts/Choplin-Medium-DEMO.otf');
  font-weight: 500;
}
@font-face {
  font-family: 'Choplin';
  src: url('~assets/fonts/Choplin-ExtraLight-DEMO.otf');
  font-weight: 200;
}

h3 {
  font-weight: inherit;
}

address {
  font-style: inherit;
}

body {
  @apply font-body font-normal text-sm leading-normal text-white;
  letter-spacing: -0.28px;
  overflow-x: hidden;
  transition: 1s;
}

.title {
  @apply font-section font-medium leading-none;
  font-size: 25px;
  letter-spacing: -0.8px;
  @screen md {
    font-size: 40px;
  }
}

.text-newsletter {
  @apply font-section font-medium text-white leading-none;
  letter-spacing: -0.8px;
  font-size: 26px;
  @screen sm {
    font-size: 32px;
  }
  @screen md {
    font-size: 40px;
  }
}

.sub-title {
  @apply text-white text-base leading-none;
  line-height: 1.1;
  letter-spacing: -0.4px;
  @screen sm {
    @apply text-lg;
  }
  @screen md {
    @apply text-xl;
  }
}

.section-title {
  @apply font-section font-medium text-base leading-none;
  letter-spacing: -0.4px;
  @screen sm {
    @apply text-lg;
  }
  @screen md {
    @apply text-xl;
  }
}

.category-title {
  @apply font-section font-thin text-white text-xl leading-none uppercase;
  letter-spacing: -0.4px;
}

.faq-title {
  @apply font-bold text-xl;
  line-height: 0.95;
  letter-spacing: -0.4px;
}

.price {
  @apply font-bold text-white;
  font-size: 26px;
  line-height: 0.85;
  letter-spacing: -0.5px;
}

.product-description {
  @apply text-xs leading-none;
  letter-spacing: -0.2px;
  margin-top: 5.8px;
}

.text-button {
  @apply text-19px leading-none font-bold;
}

.text-nav {
  font-size: 22px;
}

.text-cookie {
  &-title {
    @extend .title;
    font-size: 40px;
  }
}