.divider {
  margin: $divider-margin-y $divider-margin-x;
  background: $divider-bg;
  height: $divider-height;
  width: $divider-width;
}

.mt-52 {
  margin-top: 52px;
}

.mb-49 {
  margin-bottom: 49px;
}