.mt-faq {
  margin-top: 71px;
  @screen md {
    margin-top: 231px;
  }
}

.mt-search {
  margin-top: 71px;
  @screen md {
    margin-top: 127px;
  }
}

.m-search-icon-break {
  margin-left: 520px;
  margin-top: 15px;
}

.m-faq-icon-break {
  margin-left: 325px;
  margin-top: 8px;
}

@responsive {
  .pin-l-60px {
    left: 60px;
  }
}