/* Color palette */
$pumpkin: #e27500;
$white: #ffffff;
$bland: #b8aa91;
$bubble-gum-pink: #ff6f9e;
$pinkish-grey: #cecece;
$black: #323232;
$black-nav: #252525;
$sapphire: #2d4aac;
$black-two: #282828;
$black-three: #313131;
$grey-content: #454545;
$grey-faq: #717171;
$grey-shapes: #828282;
$icon-color: #a2a2a2;
$brownish-grey: #5f5f5f;

// NAV
$nav-width: 60px;
$nav-height: 100vh;
$nav-item-padding-y: 17px;
$nav-item-padding-x: 15px;

// Nav hamburger_icon
$nav-hamburger-margin-b: 12px;

// Nav search_icon
$nav-search-padding-t: 12px;
$nav-search-padding-r: 15px;
$nav-search-padding-b: 10px;
$nav-search-padding-l: 16px;

// Nav faq_icon
$nav-faq-padding-t: 10px;
$nav-faq-padding-r: 21px;
$nav-faq-padding-b: 15px;
$nav-faq-padding-l: 19px;