$btn-padding-x: 96px;
$btn-padding-y: 13px;

// small
$btn-sm-padding-x: 21px;
$btn-sm-padding-y: 9px;

// md
$btn-md-padding-x: 52px;
$btn-md-padding-y: 18px;

// Others
$btn-input-size: 45px;
$btn-rounded-size: 34px;


.btn {
  @extend .text-button;
  padding: $btn-padding-y $btn-padding-x;
  @apply text-white w-full;
  @screen md {
    @apply .w-auto;
  }
  // Sizes
  &.btn-sm {
    @apply text-sm;
    padding: $btn-sm-padding-y $btn-sm-padding-x;
  }
  &.btn-md {
    padding: $btn-md-padding-y $btn-md-padding-x;
  }
  // Colors
  &.btn-primary {
    @apply bg-pink;
  }
}

.btn-input {
  width: $btn-input-size;
  height: $btn-input-size;
  @apply bg-black text-white flex justify-center items-center;
}

.btn-rounded {
  width: $btn-rounded-size;
  height: $btn-rounded-size;
  @apply rounded-full text-xl flex justify-center items-center;
}
