// Card
$card-padding-top: 5px;
$card-padding-right: 5px;
$card-padding-bottom: 6px;
$card-padding-left: 5px;

$card-md-width: 237px;
$card-lg-width: 477px;

// Hover Frame
$card-sm-hover-frame-max-height: 136px;
$card-md-hover-frame-max-height: 158px;
$card-lg-hover-frame-max-height: 267px;

.card {
  @apply bg-grey-800 border border-grey;
  padding: $card-padding-top $card-padding-right $card-padding-bottom $card-padding-left;
}

.card-sm {
  .card-hover {
    max-height: $card-sm-hover-frame-max-height;
  }
}

.card-md {
  width: $card-md-width;
  .card-hover {
    max-height: $card-md-hover-frame-max-height;
  }
}

.card-lg{
  width: $card-lg-width;
  .card-hover {
    max-height: $card-lg-hover-frame-max-height;
  }
}