// Card
$card-padding-top: 5px;
$card-padding-right: 5px;
$card-padding-bottom: 6px;
$card-padding-left: 5px;

// xs
$card-xs-width: 80px;
$card-xs-height: 80px;
$card-xs-hover-frame-max-height: 80px;

// sm
$card-sm-hover-frame-max-height: 136px;

// md
$card-md-width: 235px;
$card-md-min-height: 94px;
$card-md-height: 200px;
$card-md-hover-frame-max-height: 158px;

// lg
$card-lg-width: 477px;
$card-lg-padding-bottom: 3px;
$card-lg-padding-right: 3px;
$card-lg-img-padding-right: 2px;
$card-lg-hover-frame-max-height: 267px;

// Stacked Card
$card-md-stacked-width: 218px;
$card-md-stacked-height: 185px;

.card {
  
  &-body {
    @apply bg-grey-800 border border-grey;
    padding: $card-padding-top $card-padding-right $card-padding-bottom $card-padding-left;
  }

  &-xs {
    width: $card-xs-width;
    height: $card-xs-height;
    .card-hover {
      max-height: $card-xs-hover-frame-max-height;
    }
  }
    
  &-sm {
    .card-hover {
      max-height: $card-sm-hover-frame-max-height;
    }
  }

  &-md {
    width: $card-md-width;
    min-height: $card-md-min-height;
    .card-hover {
      max-height: $card-md-hover-frame-max-height;
    }
    &-stacked {
      width: $card-md-stacked-width;
      height: $card-md-stacked-height;
      margin-top: $card-md-height - $card-md-stacked-height;
      @apply relative;
    }
    &-stacked-1 {
      @apply bg-grey-900 absolute pin-b border-r-5 border-t-5 border-grey-550;
      width: $card-md-stacked-width - 10px + 8px;
      height: $card-md-stacked-height + 8px;
      margin-left: 10px;
      z-index: 5;
    }
    &-stacked-2 {
      @apply bg-grey-900 absolute pin-b border-r-5 border-t-5 border-grey-100;
      width: $card-md-stacked-width - 20px + 16px;
      height: $card-md-stacked-height + 16px;
      margin-left: 20px;
    }
  }

  &-lg{
    width: $card-lg-width;
    padding-bottom: $card-lg-padding-bottom;
    padding-right: $card-lg-padding-right;
    img {
      padding-right: $card-lg-img-padding-right;
    }
    .card-hover {
      max-height: $card-lg-hover-frame-max-height;
    }
  }
}