$input-height: 45px;
$input-width: 234px;

.input {
  @apply border-2 border-grey-300 p-4;
  &::placeholder {
    @apply text-black-dark2 text-base;
  }
}

.input-text {
  @extend .input;
  height: $input-height;
  width: $input-width;
}

.input-textarea {
  @extend .input;
}