$input-height: 45px;
$input-width: 234px;
$input-xs-width: 120px;
$input-sm-width: 150px;

$input-checkbox-height: 19px;
$input-checkbox-width: 19px;

$input-select-xs-width: 290px;
$input-select-width: 175px;
$input-select-padding-y: 9px;
$input-select-padding-x: 20px;

.input {
  @apply border-2 border-grey-300 p-4;
  &::placeholder {
    @apply text-black-dark2 text-base;
  }

  &-text {
    @extend .input;
    height: $input-height;
    width: $input-sm-width;
    @apply text-black-dark2;
    @screen sm {
      width: $input-width;
    }
    &.input-xs {
      width: $input-xs-width;
    }
    &.input-small {
      width: $input-sm-width;
    }
  }

  &-text-faq {
    @apply pb-3 px-2 text-2xl;
    width: 230px;
    @screen md {
      @apply w-auto px-5 text-3xl;
    }
    &::placeholder {
      @apply opacity-100 text-grey-750;
    }
  }

  &-text-search {
    @apply pb-3 px-2 text-2xl;
    width: 230px;
    @screen md {
      @apply w-auto px-5;
      font-size: 40px;
    }
    &::placeholder {
      @apply opacity-100 text-orange;
    }
  }

  &-price-tag {
    @apply text-base absolute text-black-dark2 pin-b ml-3 h-full flex items-center;
  }

  &-textarea {
    @extend .input;
  }

  &-checkbox {
    appearance: none;
    @apply p-0 rounded-none bg-white;
    width: $input-checkbox-width;
    height: $input-checkbox-height;
    &:checked {
      @apply bg-black;
    }
    &.checked-pink:checked {
      @apply bg-pink;
    }
    &.checked-indigo:checked {
      @apply bg-indigo;
    }
    &.checked-yellow:checked {
      @apply bg-yellow;
    }
    &.checked-green-light:checked {
      @apply bg-green-light;
    }
    &.checked-blue-light:checked {
      @apply bg-blue-light;
    }
  }
}

// Select button
@mixin form-select-option {
  padding: $input-select-padding-y $input-select-padding-x;
  max-width: $input-select-xs-width;
  max-width: calc(100vw - 32px);
  @screen sm {
    width: $input-select-width;
  }
  &:hover {
    @apply cursor-pointer;
  }
}
.form {
  &-select {
    @include form-select-option;
    @apply bg-grey-650 text-grey-200;
  }
  &-option{
    @include form-select-option;
    @apply bg-white text-grey-900;
  }
}



