$home-bullet-border-color: rgba(149, 149, 149, 0.4);

// Swiper Arrows
$swiper-button-size: 35px;
$swiper-button-distance: 15px;
$swiper-button-background-size: 5px;

// Swiper Loader
$swiper-loader-height: 3px;
$swiper-loader-color:  rgba(27, 27, 27, 0.32);

// Slide
.swiper-slide {
  width: auto;
}

// Bullets
.home-bullet {
  @apply bg-white opacity-100 mr-15px border-none rounded-full w-2 h-2 inline-block;
  box-shadow: 0 0 0 3px $home-bullet-border-color;
}
.home-bullet-active {
  @apply bg-black;
}

.swiper-container {
  @screen md {
    max-width: calc(100vw - 60px);
  }
}

.home-swiper-wrapper {
  min-height: 175px;
}

// Arrows
.swiper-button-prev, .swiper-button-next {
  background: none;
  @apply bg-white rounded-full;
  width: $swiper-button-size;
  height: $swiper-button-size;

  .swiper-button-background {
    background: rgba(225, 225, 225, 0.21);
    @apply absolute rounded-full;

    width: $swiper-button-size + $swiper-button-background-size * 2;
    height: $swiper-button-size + $swiper-button-background-size * 2;

    top: - $swiper-button-background-size;
    left: - $swiper-button-background-size;
  }
}

.swiper-button-prev {
  left: $swiper-button-distance;
}
.swiper-button-next {
  right: $swiper-button-distance;
}

// Progress bar
.swiper-loader {
  @apply absolute pin-b w-full;
  height: $swiper-loader-height;
  background-color: rgba(255, 255, 255, 0.32);

  .swiper-loader-1 {
    @apply absolute pin-l;
    background-color: $swiper-loader-color;
    height: $swiper-loader-height;
    animation-name: loader;
    animation-duration: 2.7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@keyframes loader {
  0%   { width: 0; }
  100% { width: 100%;}
}