.header-image {
  height: 175px;
  width: 100vw;
  img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }
  @screen md {
    height: 480px;
  }
}

.newsletter-image {
  height: 140px;
  // width: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }
  @screen md {
    height: auto;
  }
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}