$tag-size: 10px;
$tag-color: config('colors.black');

// Padding
$tag-padding-top: 6px;
$tag-padding-right: 10px;
$tag-padding-bottom: 6px;
$tag-padding-left: 2px;

.tag-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 10px 11px 0;
  border-color: transparent $tag-color transparent transparent;
}

.tag-body {
  @apply bg-black flex items-center justify-between rounded-r-sm;
  height: 22px;
  padding: $tag-padding-top $tag-padding-right $tag-padding-bottom $tag-padding-left;
  .tag-name-without-color {
    @apply ml-7px;
  }
  .tag-color {
    width: $tag-size;
    height: $tag-size;
    @apply rounded-full mr-6px;
  }
}
